@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    font-family: poppins;
    font-weight: 600;
    font-style: normal;
    background-color: white;
}
.nav-links {
    padding-right: 3vw;
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.nav-links-su {
    background-color: #20b2aa;
    text-decoration: none;
    list-style: none;
    width: 12vw;
    height: 5vh;
padding-top: 11px;
    border-radius: 10px;
    text-align: center;
}
.nav-links-su a {
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.nav-links-su{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links-si {
    transform: translate(0,15%);
    background-color: white;
    text-decoration: none;
    list-style: none;
    width: 12vw;
    height: 5vh;
    border-radius: 10px;
    text-align: center;
    padding-top: 11px;

}
.nav-links-si a {

    color: #20b2aa;
    text-decoration: none;
    font-size: 17px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 4vh;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #EBEBEB;
    margin-bottom: 150px;

}
.main h1 {
    line-height: 90px;
    font-size: 70px;
    color: black;
    font-weight: 600;
}
.main span {
    color: #20b2aa;
}
.main p {
    font-size: 16px;
    color: #444444;
    font-weight: 300;
    padding-bottom: 30px;
}
.btn {
    width: 192px;
    height: 71px;
    background-color: #20b2aa;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    cursor: pointer
}
.btn span {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;

}

.real{
    display: block;
    
background-color:#98005F ;


}
.container{
    display: flex;
justify-content: center ;
    padding: 60px;
    font-family: poppins;
}

.texxt{
    font-weight: 700;
    font-family: poppins;
    font-size: 38px;
    text-align: center;
    padding-top: 120px;
    padding-bottom:20px;
 
}
.inner{

 background-color: #E5F4F2;
height: 170px ;
 border-radius: 20px;
width: 430px;
background-color: white;
padding: 40px;
margin-right: 15px;
display: flex;
align-items: center;
gap: 30px;
}


footer{
    background-color: #ffffff;
    border: 1px solid var(--CTA---Aqua-Squeeze, #E5F4F2);
    padding: 60px;
    left: 0;
    bottom: 0;
    
    font-family: poppins;
  }

  .input-container {
    position: relative;
  }
  
  .input-container input {
    padding-left: 30px; 
  }
  
  .input-container .icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    pointer-events: none; 
  }
  input{
    width: 400px;
    height: 50px;
    padding: 8px 20px;
    border-radius: 20px;
border: 1px solid var(--Deviders---Grey, #D8D8D8);
background: #FFF;
  }
  button{
    font-family: poppins;
    color: white;
    height: 50px;
    padding: 16px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
background: #98005F;
  }
  button:hover{
cursor: pointer;

  }


  a{
    color: inherit; 
    text-decoration: none; 
  }