@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: poppins;
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
   
    font-weight: 600;
    font-style: normal;
    background-color: white;
}
.nav-links {
    padding-right: 3vw;
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.nav-links-su {
    background-color: #20b2aa;
    text-decoration: none;
    list-style: none;
    width: 12vw;
    height: 5vh;
    padding-top: 11px;
    border-radius: 10px;
    text-align: center;
}
.nav-links-su a {
    padding: 0;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.nav-links-si {
    background-color: white;
    text-decoration: none;
    list-style: none;
    width: 12vw;
    height: 5vh;
    border-radius: 10px;
    text-align: center;
    padding-top: 11px;

}
.nav-links-si a {
    padding: 0;
    color: #20b2aa;
    text-decoration: none;
    font-size: 17px;
}
.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-weight: 600;
    font-style: normal;
    padding: 90px 90px 0;
}
.signUp form {
    width: 610px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2% 5% 5%;

}
.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #0A0A0A;
    padding: 0;

}
.sign span {
    text-align: center;

    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
}
p {
    color: #000;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
}
form button {
    display: inline-flex;
    padding: 12.5px 147px 13.5px 147px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #20B2AA;
    color: white;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 6vh;
    cursor: pointer;
}
.fpass {
    color: #0A0A0A;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}